/*login.php*/
.loginpage{
	height: 100vh;	
	background-image: url(https://unsplash.it/1000/1000);
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	vertical-align: middle;
	justify-content:center;
}

.loginpage::before{
	min-height: 30px;
}

.regbox {	
	border: 3px solid #ff4570;
	border-radius: 10%;
	color: #ff8fcb;
	text-shadow: -1px 0 #ff0000, 0 1px #ff0000, 1px 0 #ff0000, 0 -1px #ff0000;
	font-weight: bold; 	
	padding: 100px;	
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;	
    background-color: #FFEBC2;
}

.regbox h4{
	color: #ff0000;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    font-size: 18px;
}

.regbox p a{
	color: #8fe9ff;
    text-shadow: -1px 0 #0020a1, 0 1px #0020a1, 1px 0 #0020a1, 0 -1px #0020a1;
}

.regbox p{
	color: #002eed;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.regbox a:hover{
	color: #007bff;
}

.loginbtn {
    border-color: #fff;
    color: #fff;    
    background-color: #07b8db;
    margin-top:5px;
}

.loginbtn:hover {
    border-color: #fff;
    background-color: #0598b5;
    color: #fffc45;    
}

.regbox .errDiv{
    color: #ff0000;
    text-shadow:none;
}

.logintextbox{
	border: 2px solid #ccc;
	outline:none;
}

.logintextbox:focus{
	border: 2px solid #ff5e00;	
}
/*login.php*/



