/*login.php*/
.loginpage{
	height: 100vh;	
	background-image: url(https://unsplash.it/1000/1000);
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	vertical-align: middle;
	justify-content:center;
}

.loginpage::before{
	min-height: 30px;
}

.regbox {	
	border: 2px solid #ccc;
	border-radius: 10%;
	color: #181a15;
	text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
	font-weight: bold; 	
	padding: 100px;	
	width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;	
	background-image: url(https://unsplash.it/500/500?blur=5);   
}

.regbox a{
	color: #002eed;
    text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

.regbox a:hover{
	color: #007bff;
}

.heading{
	color: #007bff;
}
/*login.php*/

/*林昭穎*/


